<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-show  연습</title>
    <script src="http://unpkg.com/vue@2.6.10/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <textarea v-model="msg" style="width:500px"></textarea>
        <!-- v-show와 v-if의 차이 -->
        <button v-show="msg">Please Send message</button>
        <button v-if="msg">Please Send message</button>
        <!-- pre tag는 앞의 공백을 다 인식함 -->
        <pre>{{msg}}</pre>
    </div>
    <script>
        let vm = new Vue({
            el : "#app",
            data : {
                msg: '',
            }
        })
    </script>
</body>
</html>